﻿#Header, #Body, #Footer {
    margin: 0;
    padding: 0;
}

#backBtn {
    color: black;
    float: left;
}

#employee {
    color: #0a8f93;
}

#HeadNav {
    background-color: #ffffff;
}

#contacts {
    background-color: #f0eff5;
}

#userName {
    color: black;
    font-weight: bold;
    font-size: 18;
    text-align: left;
    padding:0,10,0,0;
}

#box2 {
    height: 500px;
}

.imgBtn {
    background-color: blue;
}

.blank1{
    background-color:#f0eff5;
   
}
.imageset{
    padding: 5px,7px,0px,5px;
}